---
import "../styles/global.css";
import "../styles/role-select.css";

const roles = [
  { name: "Top", icon: "https://nitamago.github.io/lol-matchup-dictionary/icons/top_icon.PNG", classStr: "relative block w-[150px] top-[220px] left-[50px] lg:top-[130px] lg:left-[0px]" },
  { name: "JG", icon: "https://nitamago.github.io/lol-matchup-dictionary/icons/jg_icon.PNG", classStr: "relative block w-[150px] top-[190px] left-[140px] lg:top-[100px] lg:left-[70px]" },
  { name: "Mid", icon: "https://nitamago.github.io/lol-matchup-dictionary/icons/mid_icon.PNG", classStr: "relative block w-[150px] top-[40px] left-[300px] lg:top-[5px] lg:left-[170px]" },
  { name: "Bot", icon: "https://nitamago.github.io/lol-matchup-dictionary/icons/bot_icon.PNG", classStr: "relative block w-[150px] top-[150px] left-[450px] lg:top-[80px] lg:left-[260px]" },
  { name: "Sup", icon: "https://nitamago.github.io/lol-matchup-dictionary/icons/sup_icon.PNG", classStr: "relative block w-[150px] top-[10px] left-[610px] lg:top-[-10px] lg:left-[360px]" },
];
---

<html>
	<head>
		<meta charset="UTF-8" />
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-BSBMFV37ZG"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BSBMFV37ZG');
		</script>
    	<title>ロール選択</title>
		<meta name="google-site-verification" content="Z34qSf6ls4nnNRzq0OrHdpsD6nYF41v7GrFu3gekY6Q" />
	</head>
	<body class="lg:flex justify-center p-10">
		<div class="min-h-screen text-center pt-10 pb-10">
			<div class="">
				<h1 class="text-7xl lg:text-2xl font-bold underline">LoL チャンピオン相性辞書</h1>
				<p class="mt-6 mb-6 text-5xl lg:text-xl">
				<a href="https://nitamago.github.io/lol-matchup-quiz/" class="text-blue-600 underline ml-1">マッチアップクイズ</a>の解説をまとめたものです。<br />
				チャンピオンの有利不利、カウンター、立ち回りを調べるのにご利用ください。
				</p>
				<!-- 案内メッセージを追加 -->
				<p class="mb-4 text-5xl lg:text-xl font-semibold text-blue-700 animate-pulse">
				下のロールアイコンをクリックして、ロールを選択してください
				</p>
				<div class="bg-center bg-cover min-h-[900px] lg:min-h-[540px] mb-6" style="background-image: url('https://nitamago.github.io/lol-matchup-dictionary/icons/map_fix.PNG');">	
					<div class="roles">
					{roles.map(role => (
						<a href={`/lol-matchup-dictionary/${role.name.toLowerCase()}`} class={role.classStr}>
						<img src={role.icon} alt={role.name} class="relative w-[150px] lg:w-[100px] rounded-[50%] hover:ring-4 hover:ring-blue-400 hover:ring-offset-2 hover:scale-105"/>
						</a>
					))}
					</div>
				</div>
				<iframe width="100%" height="480px" src="https://forms.cloud.microsoft/r/2aCh3AHGR1?embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
			</div>
			
		</div>
	</body>
</html>
